.mylabel {
	font-size: 40px;
	font-weight: bold;
	color: green;
	float: right;
}
.myicon{
    background:blue;
	position: absolute;
    right: 2px;
    bottom: 80px;
}
.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}
.centerrender {
	align-items: center;
}
.gallery {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}
.gallery li{
   display: -webkit-flex;
   display: flex;
}